@import "../../../theme/_welltrack.variables.scss";
@import "../../../theme/_welltrack.mixins.scss";
@import "../../../theme/_welltrack.helpers.scss";

#skip-nav {
	font-size: 10px;
	text-align: center;
	position: absolute;
	left: calc(50% - 20px);
	top: 5px;
	color: white;
	display: block;
	z-index: 9999;
}

.top-bar {
	height: 5px;
	background-image: linear-gradient(
		to right,
		#dc9656,
		#ef8a75,
		#f1869a,
		#e08cbe,
		#c098d9,
		#9ca6ef,
		#68b5fa,
		#00c1f7,
		#00d1ea,
		#00ddc5,
		#45e391,
		#a1e359
	);
	width: 100%;
}

#menu {
	.close-nav {
		position: absolute;
		top: 10px;
		right: 10px;
		color: white;
		z-index: 9999;
	}

	@extend .gradient-menu;
	width: 245px;
	position: fixed;
	height: 100%;
	overflow-y: scroll;

	@include breakpoint(xs) {
		//display: none;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0;
		z-index: 100;
		height: 100%;
		width: 0;
		transition: 0.3s;
		overflow-x: hidden;
		width: 80%;
		margin-left: -80%;
		visibility: hidden;
		&.navIn {
			margin-left: 0;
			visibility: visible;
		}
	}

	#nav {
		list-style: none;
		margin: 0px 0;
		padding: 0;
		> a {
			display: block;
			padding: 16px;
			margin-bottom: 1px;
			cursor: pointer;
			position: relative;
			.notifications {
				position: absolute;
				height: 20px;
				width: 20px;
				line-height: 20px;
				border-radius: 20px;
				background-color: #ff0800;
				background-color: #a70500;
				color: #fff;
				font-weight: bold;
				top: 20px;
				right: 10px;
				text-align: center;
			}

			i {
                font-size: $font-size-title-sm;
				margin-right: 15px;
				width: auto;
				color: white;
				vertical-align: middle;
			}

			&:hover {
				opacity: 0.9;
			}
			&.active,
			&:hover {
				@extend .gradient-cta-btn;
			}
			&.disabled {
				opacity: 0.4;
			}
			span {
				color: white;
				font-size: $font-size-title-sm;
				display: inline-block;
				z-index: 999;
				font-weight: 700;
				&:hover,
				&:active,
				&:focus {
					opacity: 1;
				}
			}
			.icon {
				width: auto;
				display: inline-block;
				margin-right: 16px;
			}
			&.secondary {
				padding: 9px 16px;
				background-color: transparent;
				border-bottom: 1px solid #393a53;
				opacity: 0.8;
				&:hover {
					opacity: 1;
				}
				//display: flex;
				//align-items: center;
				// &:first-child {
				//     border-top: 1px solid #393a53;
				// }
				a,
				span {
					//font-weight: 800;
					font-size: $font-size-sm;
				}
			}
		}
	}
	.sign-out {
		padding: 0 16px;
		.btn {
			padding-top: 8px;
			padding-bottom: 8px;
			border-width: 1px;
		}
	}
}
#page {
	background-color: $color-background;
	background-attachment: fixed;
	width: 100%;
	overflow-y: scroll;
	// transition: 0.5s;
	&.navIn {
		overflow-y: hidden;
	}
	.banner {
		background-color: white;
		height: 64px;

		@extend .drop-shadow;

		.navbar-toggle {
			float: right;
			display: block;
		}
		.header-logo {
			float: right;
			display: block;
			@include breakpoint(xs) {
				float: left;
			}
		}
	}
	#content {
		padding: 8px 0 16px 0;
		margin-left: 240px;
		@include breakpoint(xs) {
			margin-left: 0;
		}
	}
}
#logo {
	margin: 8px 16px 0 0;
	height: 48px;
	width: auto;
	@include breakpoint(xs) {
		margin: 14px 0 0 16px;
		height: 36px;
	}
}

#demo-notice {
	@extend .gradient-dashboard;
	width: 100%;
	color: white;
	.inside {
		padding-left: 50px;
		position: relative;
		display: flex;
		align-items: center;
		div.content {
			display: flex;
			flex-direction: column;
		}
		a {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
}

.google {
	img {
		margin: 10px;
		display: inline-block;
		width: 141px;
	}
}

.apple {
	img {
		margin: 10px;
		display: inline-block;
		width: 141px;
	}
}

.download {
	margin: 10px;
	width: 100px;
	color: white;
}

.collapsableMenu {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.menu-content {
	padding: 0 16px !important;
}

#sub-menu-nav {
	list-style: none;
	margin: 0px 0;
	padding: 0;
	> a {
		display: block;
		padding: 16px;
		margin-bottom: 1px;
		cursor: pointer;
		position: relative;
		.notifications {
			position: absolute;
			height: 20px;
			width: 20px;
			line-height: 20px;
			border-radius: 20px;
			background-color: #ff0800;
			background-color: #a70500;
			color: #fff;
			font-weight: bold;
			top: 20px;
			right: 10px;
			text-align: center;
		}

		i {
			font-size: 20px;
			margin-right: 15px;
			width: auto;
			color: white;
		}

		&:hover {
			opacity: 0.9;
		}
		&.active,
		&:hover {
			@extend .gradient-cta-btn;
		}
		&.disabled {
			opacity: 0.4;
		}
		span {
			color: white;
			font-size: $font-size-title-md;
			display: inline-block;
			z-index: 999;
			font-weight: 700;
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
		.icon {
			width: auto;
			display: inline-block;
			margin: 0px 10px 0px 30px;
		}
		&.secondary {
			padding: 9px 16px;
			background-color: transparent;
			border-bottom: 1px solid #393a53;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}

			a,
			span {
				font-size: $font-size-sm;
			}
		}
	}
}

.menu-content {
	span {
		color: white;
		font-size: $font-size-title-md;
		display: inline-block;
		z-index: 999;
		font-weight: 700;
		margin-right: 26px;
		&:hover,
		&:active,
		&:focus {
			opacity: 1;
		}
	}
	.icon {
		width: auto;
		display: inline-block;
		margin-right: 16px;
	}

	.notifications {
		position: relative;
		height: 20px;
		width: 20px;
		line-height: 20px;
		border-radius: 20px;
		background-color: #ff0800;
		background-color: #a70500;
		color: #fff;
		font-weight: bold;
		top: 3px;
		right: 10px;
		text-align: center;
	}
}

::ng-deep .menu-content > .mat-expansion-indicator:after {
	color: white;
}

.sub-menu {
	background-color: transparent;
}

::ng-deep div .mat-expansion-panel-body {
	padding: 0px !important;
}

.mini-calendar {
	height: auto;
	background: white;
	overflow: hidden;

	.view-all {
		margin: auto;
		text-align: center;
		padding-bottom: 20px;
	}
}
