.img-wrapper {
    background-image: url('/assets/img/bleu_bg@2x.png');
    text-align: center;
    color: white;
    height: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    img {
        margin-top: 40px;
        max-height: 60px;
    }
}

#ressourceSection{
    margin-top:30px;
    .groupset{
        padding:20px;
        border:1px solid #ccc;
        margin-bottom:20px;
    }
    
}

.team{
    a{
        margin-top:0px;
    }
    input{
        margin-bottom:0px;
    }
    margin-bottom:10px;
}

