wt-progress {

    .wt-progress-wrapper {
        /* take the viewport Width & Height */
        width: 148px;
        height: auto;
        /* horizontal centers content */
        text-align: center;
        /* vertical centers content */
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }

    canvas {
        width: auto;
        /* 90% of smallest-side */
        height: 148px;
    }

    span {
        position: absolute;
        /* 20% of smallest-side */
        font-size: 20px;
        /* 90% of smallest-side */
        //line-height: 90%;
        /* 90% of smallest-side */
        width: 148px;
    }
}
