<menu-header></menu-header>
<nav id="nav" role="navigation">
	<a
		tabindex="0"
		[ngClass]="{ active: '/app' == menuService.pathActive || '' == menuService.pathActive }"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{ exact: true }"
		(click)="menuService.nav('/app')"
		(keypress)="menuService.nav('/app')"
	>
		<img
			alt="Dashboard"
			class="icon"
			src="/assets/img/icons/dashboard@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.dashboard</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/professional/users' == menuService.pathActive }"
		routerLinkActive="active"
		*ngIf="menuService.userDetailsShow"
		(click)="menuService.nav('/professional/users')"
		(keypress)="menuService.nav('/professional/users')"
	>
		<img
			alt="Client list"
			class="icon"
			src="./assets/img/icons/user-icon@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.clientList</span>
	</a>

	<a
		tabindex="0"
		*ngIf="menuService.moodcheckShow"
		[ngClass]="{ disabled: menuService.locked }"
		(click)="menuService.onMoodCheck()"
		(keypress)="menuService.onMoodCheck()"
	>
		<img
			alt="Moodcheck"
			class="icon"
			src="/assets/img/icons/moodcheck@2x.png"
			style="height: 19px"
		/>
		<span translate>menu.moodcheck</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/theory' == menuService.pathActive, disabled: menuService.locked }"
		routerLinkActive="active"
		*ngIf="menuService.practiceShow"
		(click)="menuService.nav('/app/theory')"
		(keypress)="menuService.nav('/app/theory')"
		[ngClass]="{ disabled: this.user.userType == 'user' && menuService.locked }"
	>
		<img
			alt="Courses"
			class="icon"
			src="/assets/img/icons/practice@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.courses</span>
	</a>

	<a
		tabindex="0"
		*ngIf="menuService.podcastsShow"
		[ngClass]="{ active: '/app/podcasts' == menuService.pathActive, disabled: menuService.locked }"
		routerLinkActive="active"
		(click)="menuService.nav('/app/podcasts')"
		(keypress)="menuService.nav('/app/podcasts')"
		[ngClass]="{ disabled: this.user.userType == 'user' && menuService.locked }"
	>
		<img
			alt="Courses"
			class="icon"
			src="/assets/img/icons/podcast-mic@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.podcasts</span>
	</a>

	<!--*ngIf="this.user.primaryOrganization.id === 2644"-->
	<a
		tabindex="0"
		*ngIf="menuService.enableCoreContributors"
		[ngClass]="{
			active: '/app/corecontributors' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		(click)="menuService.nav('/app/corecontributors')"
		(keypress)="menuService.nav('/app/corecontributors')"
		[ngClass]="{ disabled: this.user.userType == 'user' && menuService.locked }"
	>
		<img
			alt="Domains"
			class="icon"
			src="/assets/img/icons/resources@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.wellnessDomains</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/practice' == menuService.pathActive, disabled: menuService.locked }"
		routerLinkActive="active"
		*ngIf="menuService.theoryShow"
		(click)="menuService.nav('/app/practice')"
		(keypress)="menuService.nav('/app/practice')"
		[ngClass]="{ disabled: this.user.userType == 'user' && menuService.locked }"
	>
		<img
			alt="Tools"
			class="icon"
			src="/assets/img/icons/theory@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.tools</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/calendar' == menuService.pathActive, disabled: menuService.locked }"
		routerLinkActive="active"
		*ngIf="menuService.calendarShow"
		(click)="menuService.nav('/app/calendar')"
		(keypress)="menuService.nav('/app/calendar')"
	>
		<img
			alt="Calendar"
			class="icon"
			src="/assets/img/icons/calendar@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.calendar</span>
		<div class="notifications" *ngIf="menuService.user.eventCount > 0">
			{{ menuService.user.eventCount }}
		</div>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/app/assessments' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.assessmentShow && menuService.defaultAssessment === 'resilience'"
		(click)="menuService.nav('/app/assessments')"
		(keypress)="menuService.nav('/app/assessments')"
	>
		<img
			alt="Assessment"
			class="icon"
			src="./assets/img/icons/assessment_icon@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.assessments</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/app/assessment' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.assessmentShow && menuService.defaultAssessment === 'das'"
		(click)="menuService.nav('/app/assessments/das/listing')"
		(keypress)="menuService.nav('/app/assessments/das/listing')"
	>
		<img
			alt="Assessment"
			class="icon"
			src="./assets/img/icons/assessment_icon@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.assessment</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/app/challenges' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'user' && menuService.user.totalChallengesCount > 0"
		(click)="menuService.nav('/app/challenges')"
		(keypress)="menuService.nav('/app/challenges')"
		[ngClass]="{ disabled: this.user.userType == 'user' && menuService.locked }"
	>
		<i aria-hidden="true" class="fa fa-flag" aria-hidden="true"></i>
		<span translate>menu.challenges</span>
		<div class="notifications" *ngIf="menuService.user.activeChallengesCount > 0">
			{{ menuService.user.activeChallengesCount }}
		</div>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/executive/organization-edit' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'orgadmin'"
		(click)="menuService.nav('/executive/organization-edit')"
		(keypress)="menuService.nav('/executive/organization-edit')"
	>
		<img
			alt="Organization details"
			class="icon"
			src="./assets/img/icons/settings@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.orgDetails</span>
	</a>
	<!--
                <a tabindex="20" [ngClass]="{'active': '/manage/resources' == menuService.pathActive, 'disabled': menuService.locked}" routerLinkActive="active"
                    *ngIf="userType == 'orgadmin'" (click)="menuService.nav('/manage/resources')" (keypress)="menuService.nav('/manage/resources')">
                    <img alt="Resources" class="icon" src="/assets/img/icons/resources@2x.png" style="height: 22px;">
                    <span translate>menu.manageResources</span>
                </a>
            -->
	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/user-listing' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/user-listing')"
		(keypress)="menuService.nav('/admin/user-listing')"
	>
		<i class="fa fa-users" aria-hidden="true"></i>
		<span translate>menu.users</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/organization-listing' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/organization-listing')"
		(keypress)="menuService.nav('/admin/organization-listing')"
	>
		<i class="fa fa-sitemap" aria-hidden="true"></i>
		<span translate>menu.orgs</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/course-listing' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/course-listing')"
		(keypress)="menuService.nav('/admin/course-listing')"
	>
		<img
			alt="Courses"
			class="icon"
			src="/assets/img/icons/practice@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.adminCourseListing</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/assessments-listing' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/assessments-listing')"
		(keypress)="menuService.nav('/admin/assessments-listing')"
	>
		<img
			alt="Assessment"
			class="icon"
			src="./assets/img/icons/assessment_icon@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.assessmentListing</span>
	</a>
	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/activity' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/activity')"
		(keypress)="menuService.nav('/admin/activity')"
	>
		<img
			alt="Activity"
			class="icon"
			src="/assets/img/icons/dashboard@2x.png"
			style="height: 20px"
		/>
		<span translate>menu.activity</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/admin/challenges' == menuService.pathActive,
			disabled: menuService.locked
		}"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/challenges')"
		(keypress)="menuService.nav('/admin/challenges')"
	>
		<i class="fa fa-flag" aria-hidden="true"></i>
		<span translate>menu.challenges</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/admin/reports' == menuService.pathActive, disabled: menuService.locked }"
		routerLinkActive="active"
		*ngIf="menuService.userType == 'admin'"
		(click)="menuService.nav('/admin/reports')"
		(keypress)="menuService.nav('/admin/reports')"
	>
		<i class="fa fa-table" aria-hidden="true"></i>
		<span translate>menu.reports</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/app/emergency-contact' == menuService.pathActive,
			disabled: menuService.locked
		}"
		class="secondary"
		routerLinkActive="active"
		(click)="menuService.nav('/app/emergency-contact')"
		(keypress)="menuService.nav('/app/emergency-contact')"
		*ngIf="menuService.user.primaryOrganization"
	>
		<img
			alt="Emergency contact"
			class="icon"
			src="/assets/img/icons/hand@2x.png"
			style="height: 22px"
		/>
		<span translate>menu.emergency</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/resources' == menuService.pathActive, disabled: menuService.locked }"
		class="secondary"
		routerLinkActive="active"
		*ngIf="menuService.enableResources"
		(click)="menuService.nav('/app/resources')"
		(keypress)="menuService.nav('/app/resources')"
	>
		<img
			alt="Resources"
			class="icon"
			src="/assets/img/icons/resources@2x.png"
			style="height: 22px"
		/>
		<span translate>menu.resources</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{
			active: '/app/counselor-sync' == menuService.pathActive,
			disabled: menuService.locked
		}"
		class="secondary"
		routerLinkActive="active"
		*ngIf="
		menuService.userType == 'user' &&
		menuService.user.primaryOrganization &&
		menuService.user.primaryOrganization.settings &&
		menuService.user.primaryOrganization.settings.hasCounselors
		"
		(click)="menuService.nav('/app/counselor-sync')"
		(keypress)="menuService.nav('/app/counselor-sync')"
	>
		<img
			alt="Sync with counselor"
			class="icon"
			src="./assets/img/icons/cloud@2x.png"
			style="height: 18px"
		/>
		<span translate>menu.sync</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/settings' == menuService.pathActive, disabled: menuService.locked }"
		class="secondary"
		routerLinkActive="active"
		(click)="menuService.nav('/app/settings')"
		(keypress)="menuService.nav('/app/settings')"
	>
		<img
			alt="Settings"
			class="icon"
			src="./assets/img/icons/settings@2x.png"
			style="height: 15px"
		/>
		<span translate>menu.setting</span>
	</a>

	<a
		tabindex="0"
		[ngClass]="{ active: '/app/support' == menuService.pathActive, disabled: menuService.locked }"
		class="secondary"
		routerLinkActive="active"
		(click)="menuService.onSupportClick()"
		(keypress)="menuService.onSupportClick()"
	>
		<i class="fa fa-envelope" aria-hidden="true"></i>
		<span translate>menu.support</span>
	</a>
</nav>
<menu-footer></menu-footer>
