@import "../../../theme/_welltrack.mixins.scss";
@import "../../../theme/_welltrack.variables.scss";
#heatmap-section {
    background-color: white;
    padding: 16px;
    #heatmap {
        //height: 400px;
        height: 400px;
    }
    .grid-buttons {
        text-align: right;
        display: block;
        a {
            max-width: 128px;
            display: inline-block;
        }
        @include breakpoint(xs) {
            text-align: center;
        }
    }
}

.inset {
    padding: 16px;
    display: flex;
    .inset-tile {
        background-color: white;
        width: 33%;
        padding: 16px;
        &:first-child {
            margin-right: 16px;
            width: 67%;
        }
    }
}

@include breakpoint(xs) {
    .inset {
        display: block;
        .inset-tile {
            width: 100%;
            &:first-child {
                margin-right: 0;
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}

.generalgraph {
    float: left;
    width: 40%;
    margin-right: 20%;
    .progress-percentage {
        font-size: 30px;
        line-height: 28px;
        color: #F6C772;
        span {
            font-size: 30px;
        }
    }
}

.minigraph {
    float: left;
    width: 40%;
    .progress-percentage {
        font-size: 22px;
        line-height: 18px;
        span {
            font-size: 22px;
        }
    }
}

#moodcheckCount {
    max-height: 325px;
}

.mini-section-3 {
    font-size: $font-size-lg;
    span {
        font-weight: 800;
    }
}

.blue {
    color: #7FAEE4;
}

.red {
    color: #E94C5D;
}

.chart-legend li {
    list-style-type: circle;
}

.progress-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    margin: 10px auto;
    .progress-percentage {
        font-weight: 800;
    }
}

.sidechart {
    display: flex;
    position: relative;
    .left {
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        width: 50%;
        position: relative;
        >div {
            position: absolute;
            top: 50%;
            padding-left: 20px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.legend {
    float: right;
    text-align: center;
    margin: 20px 0px 0px 0px;
    .item {
        display: inline-block;
        margin-right: 10px;
        .bullet {
            border-radius: 10px;
            display: inline-block;
            height: 10px;
            width: 10px;
            margin-right: 5px;
        }
        &.good .bullet {
            background-color: #F9A287;
        }
        &.normal .bullet {
            background-color: #BA4D82;
        }
        &.bad .bullet {
            background-color: #B9EB9E;
        }

        @include breakpoint(xs) {
            display: block;
            margin:auto;
        }
    }
     ::after {
        clear: both;
    }
}

.dasavgchart {
    border-left: 1px solid #F2F2F3;
    border-bottom: 1px solid #F2F2F3;
}

.legenddasavg {
    position: relative;
    height: 300px;
    border-left: 1px solid #F2F2F3;
    border-bottom: 1px solid #F2F2F3;
    >div {
        position: absolute;
        bottom: 0px;
    }
    .item {
        margin-bottom: 10px;
        .bullet {
            border-radius: 10px;
            display: inline-block;
            margin-right: 5px;
            height: 10px;
            width: 10px;
        }
        &.extremelysevere .bullet {
            background-color: #BA4D82;
        }
        &.severe .bullet {
            background-color: #8F7CC2;
        }
        &.moderate .bullet {
            background-color: #6DADF5;
        }
        &.mild .bullet {
            background-color: #80C7DC;
        }
        &.normal .bullet {
            background-color: #96E5BF;
        }
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;
    >div {
        height: 100%;
    }
}

.nomargin {
    margin: 0px;
}