@import "../../../theme/_welltrack.mixins.scss";
@import "../../../theme/_welltrack.variables.scss";
#organizationdropdown {
    max-width: 211px;
    margin:auto;
    position:relative;
    z-index:2;

    .dropdown {
        height: 35px;
        border: 1px solid #F4F4F6;
        border-radius: 100px;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        margin: 20px 0px;
        position: relative;
        cursor: pointer;
        i {
            position: absolute;
            right: 10px;
            top: 10px;
        }
     
        .subdropdown {
            list-style-type: none;
            padding: 4px;
            margin-top:6px;
            margin-bottom: 0px;
            color: #fff;
            @extend .gradient-cta;
            opacity:1; 
            z-index: 11000;
            a {
                cursor: pointer;
                z-index: 9999;
            }
            li::first-child {
                padding-top: 20px;
            }
            li{
                z-index: 11000;
                overflow: hidden;
            }
        }
    }
    .dropdown:hover {
        opacity: 1;
    }
}