
@import "../../../theme/_welltrack.variables.scss";
@import "../../../theme/_welltrack.mixins.scss";

.legend{
    text-align:left; 
    width:100%;
}

#nav-buttons{
    #previous{
        float:left;
        @include breakpoint(xs){
            float:none;
        }
    }
    #next{
        float:right;
        @include breakpoint(xs){
            float:none;
        }
    }
    div{
        @include breakpoint(xs){
            text-align:center;
        }
    }
}