#notice{
    width: 100%;
    background: #25295f;
    color:white;
    padding:2px 10px;
    position:relative;
    ion-icon{
        position:absolute; 
        top:5px; 
        right:5px;
    }
}

