.grid-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 12px;

	&.col6 {
        a {
            width: 16%;
            max-width: 16%;
            
        }
    }

    &.col3 {
        a {
            width: 32%;
            max-width: 32%;
            
        }
    }

    &.col2 {
        a {
            width: 49%;
        }
    }

	@include breakpoint(xs) {
		&.col6, &.col3 {
			a {
				width: 49%;
				max-width: 49%;	
			}
		}
	}

    a {
        padding: 10px 5px;
        background-color: white;
        color: $color-text;
        border: 0;
        font-weight: normal;
        font-size: $font-size-md;
        border-radius: 5px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
        display: block;
        text-align: center;
        margin: 2px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight:800;
        cursor: pointer;

        &.active {
            background-color: $color-link;
            color: white;

            &.positive {
               @extend .gradient-cta-btn;
            }

            &.negative {
                @extend .gradient-cta3-btn;
            }
        }

        &.featured {
            font-weight: 800;
            color: $color-link;
        }
    }
}