.onoffswitch {
    //display: inline-block;
    position: relative;
    width: 83px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 27px;
    padding: 0;
    line-height: 27px;
    border: 1px solid #E3E3E3;
    border-radius: 27px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
	margin-bottom: 0;
}

.onoffswitch-label:before {
    content: "";
    display: block;
    width: 27px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 1px solid #E3E3E3;
    border-radius: 27px;
    transition: all 0.3s ease-in 0s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    @extend .gradient-cta;
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    background-color: white; //box-shadow: 2px 0 5px 0 rgba(0,0,0,0.15);
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    right: 0;
}

.onofflabel-left, .onofflabel-right {
    //float: left;
    display: inline-block;
	padding: 2px 8px;
	font-size: $font-size-xl;
}



.onoffswitch-wrapper {
    display: flex;
}