.range-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.range-scale {
  flex-basis: 25px;
  flex-grow: 0;
  flex-shrink: 0;
}

.range-slider-range {
  flex-grow: 2;
}

