@import "../../../theme/_welltrack.variables.scss";
@import "../../../theme/_welltrack.helpers.scss";

#general {
    background-color: white;
    text-align: center;
    border-radius: 10px;

    .general-slide{
        .body-wrapper{
            padding:20px !important;
        }
    }

    .modal-wrapper{
        border: 1px solid #E7E5DC;
       
        .content-header{
            text-align:center;
            font-size: $font-size-title-xl;
            color:white;
            height: 40px;
            padding-top: 6px;

            h3{
                margin-top:0px !important;
                margin-bottom:20px;
                text-align:center;
                font-weight:bold; 
            }

            .uppercase{
                text-transform:uppercase; 
                font-weight:800;
            }
            .alerttitle{
                color:white;
                height:60px;
                line-height:55px;
                font-size: $font-size-title-md;
                font-weight:800;
            }
            margin-bottom: 40px;
            &.step1 {
                @extend .zenroom-gradient-horizontal;
            }
            
            &.step2 {
                @extend .thoughtdiary-gradient-horizontal;
            }

            &.step3{
                @extend .cognitivedistortions-gradient-horizontal;
            }

            &.step4{
                @extend .funachievement-gradient-horizontal;
            }

            &.step5{
                @extend .activityscheduler-gradient-horizontal;
            }
            
            &.step6{
                @include gradient-horizontal(#f80759, #bc4e9c);
            }

            &.step7 {
                @include gradient-horizontal(#3382E1, #42E7E5);
            }
        }
    }

    .general-slide {
        padding: 0;
        display: block !important;
        display: flex;
        align-items: flex-end;
        h2 {
            font-size: $font-size-title-xl;
            font-weight: 800;
            margin: 8px 0;
        }
  
        .title-wrapper {
            margin-top: 32px;
            padding: 0 20px;
        }
    }
    .fixed-footer {
        a {
            color: #FFFFFF;
            border: 0;
            padding: 18px 18px;
        }
        position: relative;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

   
}
.row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.column {
    display: table-cell;
}
.preview{
    &.video-preview{
        max-width:400px;
        height:auto;
    }
    &.image-preview{
        img{
            max-width:400px;
            height:auto;
        }
    }
}
.ng-star-inserted{
    &.--d-flex{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}
.resource-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 100%;
    flex-direction: column;
    order: 2;
    padding-top: 10px;
    p{
        margin:0;
    }
}