@import "../../../theme/_welltrack.variables.scss";

#page-assessment-listing {
     .anxiety{
         color: $color-anxiety; 
     }
    .stress{
        color: $color-stress; 
    }

    .depression{
        color: $color-depression; 
    }
        
        
        
}

 