@import "../../../theme/_welltrack.variables.scss";
@import "../../../theme/_welltrack.helpers.scss";
@import "../../../theme/_welltrack.mixins.scss";

#tutorial {
	text-align: center;
	border-radius: 10px;

    &.welcome {
        @extend .gradient-tutorial;
        .swiper-pagination {
            display: none;
        }
    }
    &.moodcheck, &.assessment, &.assessmentforce, &.resilienceforce {
        @extend .gradient-dashboard;
        .swiper-pagination {
            display: none;
        }
    }
    &.practice{
        @extend .zenroom-gradient;
    }

    .tutorial-slide {
        padding: 0;
        color: white;
        display: block !important;
        h2 {
            font-size: $font-size-title-xl;
            @include breakpoint(xs) {
                font-size: $font-size-title-slg;
            }
            color: white;
            font-weight: 800;
            margin: 12px 0;
        }
        p {
            margin-bottom: 16px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
        }
        .img-wrapper {
            height: 230px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background-image: url('/assets/img/cover_tutorial@2x.png');
			border-radius: 10px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            img {
                margin-bottom: 64px;
            }
        }
        .title-wrapper {
            min-height: 176px;
            margin-top: 32px;
            padding: 0 20px;
        }
    }
	.fixed-footer {
		position: relative;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}