.mat-chip-selected {
    background-color: #346cb0;
    color: white;
}

.single-user-selection{
    img{
        margin-right:20px;
    }
}


mat-chip{
    .name{
        padding-left:10px;
    }
}

table {
    width: 100%;
  }