@import "../../../../theme/_welltrack.variables.scss";

error-popup {
	h3 {
		font-size: $font-size-title-md;
		font-weight: bold;
		margin-top: 0;
	}
}
.confirm-popup{
	width: 500px;
}
.cdk-overlay-pane{
	width: 500px !important;
}