@import "../../../../theme/_welltrack.variables.scss";

page-moodcheck-options {

	h3 {
		font-size: $font-size-title-md;
		font-weight: bold;
		margin: 16px 0;
	}

	.form-wrapper {
		width: 90%;
		margin: 0 auto;
	}

    .icon-input {
        a {
            display: block;
            position: relative;
            float: right;
            margin-top: -59px;
            margin-right: -6px;
            height: 30px;
            width: 30px;    
        }
    }

    .mcOptions {
        list-style-type: none;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 90%;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
            border-bottom: 1px solid $color-line;
        }

        .custom {
            color: $color-link;
        }

        .disabled {
            color: $color-line;
        }

        .plus {
            color: $color-positive;
        }

        .minus {
            color: $color-negative;
        }
    }
    .icon-input{
        input{
            background-color:white;
        }
    }

    @media screen and (-ms-high-contrast: active) {
    
    }
}